h3 Mizan Rahman Khan
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">Panel heading</div>
						<div class="panel-body">
							<p>Text goes here...</p>
						</div>

						<!-- Table -->
						<table class="table">
							<thead>
								<tr>
									<th>Heading 1</th>
								</tr>
								<tr>
									<th>Heading 2</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Content 1</td>
								</tr>
								<tr>
									<td>Content 2</td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default">
			.panel-body
			   <form action="" method="POST" role="form">
			   	<legend>Form title</legend>

			   	<div class="form-group">
			   		<label for="">label</label>
			   		<input type="text" class="form-control" id="" placeholder="Input field">
			   	</div>



			   	<button type="submit" class="btn btn-primary">Submit</button>
			   </form>
		</div>
	</div>


</div>
